<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TopUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../layout/layout.css">
    <link rel="stylesheet" href="../commom/common.css">
    <link rel="stylesheet" href="../TopUp/TopUp.css">
</head>
<body>
    <header>
        <div class="container" id="app">
            <a class="navbar-brand logo" href="#"><img class="w-100" src="../img/logo_steam.png" alt=""></a>
            <div class="navbar lg">
                <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle" type="button" >
                                    商店
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="../shopstore/shopstroeHomePage.html">首頁</a></li>
                                    <li><a class="dropdown-item" href="#">探索佇列</a></li>
                                    <li><a class="dropdown-item" href="../wishlist/wishlist.html">願望清單</a></li>
                                    <li><a class="dropdown-item" href="#">點數商店</a></li>
                                    <li><a class="dropdown-item" href="#">新聞</a></li>
                                    <li><a class="dropdown-item" href="#">統計資料</a></li>
                                    <li><a class="dropdown-item" href="#">關於</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="breadcrumb-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle" type="button">
                                    社群
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="../shopstore/shopstroeHomePage.html">首頁</a></li>
                                    <li><a class="dropdown-item" href="#">討論區</a></li>
                                    <li><a class="dropdown-item" href="#">工作坊</a></li>
                                    <li><a class="dropdown-item" href="#">市集</a></li>
                                    <li><a class="dropdown-item" href="#">實況直播</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="breadcrumb-item"><a href="#">關於</a></li>
                        <li class="breadcrumb-item"><a href="../customer-service/customer_service_homepage/customer_service.html">客服中心</a></li>
                    </ol>
                </nav>
            </div>
            <div class="log">
                <button type="button" class="btn btn-primary btn-sm" @click="change_status">切換狀態</button>
                <!-- 沒登入時顯示 -->
                <template v-if="!current_status">
                    <a href="../login/login.html">登入</a>
                </template>
                <!-- 登入後 -->
                <template v-if="current_status">
                <div class="log-in-type">
                    <!-- notify，請點擊右上角小鈴鐺 -->
                    <p class="notify">
                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-notify" aria-expanded="false" aria-controls="collapse-notify">
                            <img src="../img/bell.svg" alt="">
                        </button>
                    </p>
                    <div class="collapse-notify collapse" id="collapse-notify">
                        <div class="card card-body">
                            <div class="title">
                                <div class="title-name">
                                    通知
                                </div>
                                <button class="btn view"><a href="../Stellar(NotifyPage)/Stellar(NotifyPage)_v2.html">檢視全部</a></button>
                            </div>
                            <div class="content">
                                <!-- 沒通知 顯示-->
                                <!-- <template> -->
                                <p class="status">您目前沒有任何新通知。</p>
                                <p class="sug">在此處您可見到與願望清單、好友、遊戲、物品庫和其他內容相關的Stellar內容</p>
                                <!-- </template> -->
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="dropdown">
                            <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                tenyadesu5487
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark py-0" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="../personal(user)/personal_firstpage.html">檢視我的個人檔案</a></li>
                                <li><a class="dropdown-item" href="../account_page/account_page.html">帳戶詳細個人資料：<span>tenyadesu5487</span></a></li>
                                <li><a class="dropdown-item" href="#">商店偏好設定</a></li>
                                <li><a class="dropdown-item" href="#">檢視我的錢包：<span>NT$</span><span>77.88</span></a></li>
                                <li><a class="dropdown-item" href="#">登出帳戶...</a></li>
                            </ul>
                        </div>
                        <a href="#" class="wallet"><span>NT$</span><span>77.88</span></a>

                    </div>
                    <div class="user-headshot"><img src="https://picsum.photos/34/34/?random=10"></div>
                </div>

                </template>
            </div>
            <nav class="navbar  bg-body-tertiary ">
                <div class="container-fluid">

                    <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">

                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>

                    </button>
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
                        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

                        <div class="offcanvas-body p-0">

                            <ul class="accordion p-0" id="offcanvas-accordion">
                                <!-- 登入前 的登入按鈕 -->
                                <template v-if="!current_status">
                                    <li class="aonly"><a href="../login/login.html">登入</a></li>
                                </template>
                                <!-- 登入後的 user資訊-->
                                 <template v-if="current_status">
                                <li class="card-user">
                                    <div class="user-info">
                                        <img src="https://picsum.photos/34/34/?random=10">
                                        &ensp;
                                        <a href="../personal(user)/personal_firstpage.html">tenyadesu5487</a>
                                    </div>
                                    <div class="wallet">
                                        <span>錢包</span>
                                        <span class="money">（NT$</span>
                                        <span class="money dollar">77.88</span>
                                        <span class="money">）</span>

                                    </div>
                                </li>
                            </template>
                                <!-- 通知，有登入才有 -->
                                <template v-if="current_status">
                                <li class="drop">
                                    <div class="accordion-item">

                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse-notification"
                                            aria-expanded="true" aria-controls="collapse-notification">
                                            <p><span>通知&ensp;</span><span>0</span></p>
                                        </button>

                                        <div id="collapse-notification" class="accordion-collapse collapse"
                                            data-bs-parent="#offcanvas-accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>目前沒通知</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </template v-if="current_status">
                                <li class="drop">
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse-store"
                                            aria-expanded="true" aria-controls="collapse-store">
                                            <p>商店</p>
                                        </button>

                                        <div id="collapse-store" class="accordion-collapse collapse"
                                            data-bs-parent="#offcanvas-accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li><a href="../shopstore/shopstroeHomePage.html">首頁</a></li>
                                                    <li><a href="#">探索佇列</a></li>
                                                    <li><a href="#">願望清單</a></li>
                                                    <li><a href="#">點數商店</a></li>
                                                    <li><a href="#">新聞</a></li>
                                                    <li><a href="#">統計資料</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="drop">
                                    <div class="accordion-item">

                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse-community"
                                            aria-expanded="true" aria-controls="collapse-community">
                                            <p>社群</p>
                                        </button>

                                        <div id="collapse-community" class="accordion-collapse collapse"
                                            data-bs-parent="#offcanvas-accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li><a href="../shopstore/shopstroeHomePage.html">首頁</a></li>
                                                    <li><a href="#">討論區</a></li>
                                                    <li><a href="#">工作坊</a></li>
                                                    <li><a href="#">市集</a></li>
                                                    <li><a href="#">實況直播</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- 您和好友，也是登入才會有 -->
                                <template v-if="current_status">
                                <li class="drop">
                                    <div class="accordion-item">

                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse-friend"
                                            aria-expanded="true" aria-controls="collapse-friend">
                                            <p>您和好友</p>
                                        </button>

                                        <div id="collapse-friend" class="accordion-collapse collapse"
                                            data-bs-parent="#offcanvas-accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li><a href="#">動態</a></li>
                                                    <li><a href="../personal(user)/personal_firstpage.html">個人檔案</a></li>
                                                    <li><a href="#">好友</a></li>
                                                    <li><a href="#">遊戲</a></li>
                                                    <li><a href="#">內容</a></li>
                                                    <li><a href="#">物品庫</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </template>
                                <!-- 聊天，登入後才有朋友可以聊天 -->
                                <template v-if="current_status">
                                <li class="aonly"><a href="../message/message.html">聊天</a></li>
                                </template>
                                <li class="aonly"><a href="#">關於</a></li>
                                <li class="aonly"><a href="#">客服</a></li>
                                <li class="func">
                                    <!-- 以下3個只會再登入出現 -->
                                    <template v-if="current_status"> 
                                    <a href="#" class="btn  change-language">帳戶詳細資訊</a>
                                    <a href="#" class="btn  change-language">商店偏好設定</a>
                                    <a href="#" class="btn  change-language">變更使用者</a>
                                    </template v-if="current_status">
                                    <a href="#" class="btn  change-language">變更語言</a>
                                    <a href="#" class=" btn  get-app">取得 Stellar 行動應用程式</a>
                                    <button type="button" class="btn btn-primary btn-sm text-center" @click="change_status">切換狀態</button>
                                </li>
                            </ul>
                            <div class="offcanvas-footer">
                                <div>
                                    <p>© 版權所有?並沒有。純為教育使用，非商業用途，所有商標皆純屬虛構。</p>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">隱私權政策</a></li>
                                            <li class="breadcrumb-item"><a href="#">法律聲明</a></li>
                                            <li class="breadcrumb-item"><a href="#">Stellar訂戶協議</a></li>
                                            <li class="breadcrumb-item"><a href="#">退款</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </header>
    <main>
        <div id="top_Up" class="top_Up_Content">
            <div class="top_Up_Title">
                <a href="#">首頁</a>
                <span>></span>
                <a href="#">帳戶</a>
                <span>></span>
                <span>新增資金至您的 Steam 錢包</span>
                <h2 class="text-white fs-2">新增資金至您的 Steam 錢包</h2>
            </div>
            <hr class="border-3">
            <div class="top_Up_txt">
                <span class="fw-bolder fs-5">
                    <span>新增資金至&nbsp;</span>
                    <span>CcowW</span>
                    <span>&nbsp;的錢包</span>
                </span>
                <div>Steam 錢包資金可用於在 Steam 上購買遊戲，或在支援 Steam 交易的遊戲內使用。</div>
                <div>您將可以在下訂單前複核訂單內容。</div>
            </div>
            <div class="top_Up_Page_Content">
                <div class="account_Wallet">
                    <span class="text-white fs-5">您的&nbsp;Stellar&nbsp;帳戶</span>
                    <div class="top_Up_balance-background">
                        <div class="top_Up_balance">
                            <div>目前錢包餘額</div>
                            <div class="fs-5">
                                <span>NT$&nbsp;</span>
                                <span>0</span>
                            </div>
                        </div>
                        <a href="#">
                            <div class="page_Tum">
                                查看我的帳戶詳細資料
                            </div>
                        </a>
                        <a href="#">
                            <div class="page_Tum">
                                兌換&nbsp;Stellar&nbsp;禮物卡或錢包儲值碼
                            </div>
                        </a>
                    </div>
                </div>
                <div class="stored_Value">
                    <div class="stored_Value_Box">
                        <div class="stored_Value_Txt">
                            <div class="fs-4">
                                新增&nbsp;NT$&nbsp;150
                            </div>
                            <span>最低儲值金額</span>
                        </div>
                        <div class="stored_Value_Btn">
                            <span>NT$&nbsp;150</span>
                            <a href="#">新增資金</a>
                        </div>
                    </div>
                    <div class="stored_Value_Box">
                        <div class="stored_Value_Txt">
                            <div class="fs-4">
                                新增&nbsp;NT$&nbsp;300
                            </div>
                        </div>
                        <div class="stored_Value_Btn">
                            <span>NT$&nbsp;300</span>
                            <a href="#">新增資金</a>
                        </div>
                    </div>
                    <div class="stored_Value_Box">
                        <div class="stored_Value_Txt">
                            <div class="fs-4">
                                新增&nbsp;NT$&nbsp;750
                            </div>
                        </div>
                        <div class="stored_Value_Btn">
                            <span>NT$&nbsp;750</span>
                            <a href="#">新增資金</a>
                        </div>
                    </div>
                    <div class="stored_Value_Box">
                        <div class="stored_Value_Txt">
                            <div class="fs-4">
                                新增&nbsp;NT$&nbsp;1500
                            </div>
                        </div>
                        <div class="stored_Value_Btn">
                            <span>NT$&nbsp;1500</span>
                            <a href="#">新增資金</a>
                        </div>
                    </div>
                    <div class="stored_Value_Box">
                        <div class="stored_Value_Txt">
                            <div class="fs-4">
                                新增&nbsp;NT$&nbsp;3000
                            </div>
                        </div>
                        <div class="stored_Value_Btn">
                            <span>NT$&nbsp;3000</span>
                            <a href="#">新增資金</a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="top_Up_Footer">如需詳細資料，請參閱&nbsp;<a href="#">Steam 訂戶協議</a>。</p>
        </div>
    </main>
    <footer>
        <div class="container">
            <hr>
            <div class="privacy">
                
                <div class="text">
                    <p>© 版權所有?並沒有。純為教育使用，非商業用途，所有商標皆純屬虛構。</p>
                    <p>貨物既出，恕不退貨</p>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">隱私權政策</a></li>
                            <li class="breadcrumb-item"><a href="#">法律聲明</a></li>
                            <li class="breadcrumb-item"><a href="#">Storm訂戶協議</a></li>
                            <li class="breadcrumb-item"><a href="#">退款</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="logo">
                    <img src="../img/logo_steam.png" alt="">
                </div>
            </div>
            <hr>
            <div class="footer-navbar">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="https://www.build-school.com/">關於storm</a></li>
                        <li class="breadcrumb-item"><a href="https://rdrc.mnd.gov.tw/page/index">人才招募</a></li>
                        <li class="breadcrumb-item"><a href="#">客服中心</a></li>
                        <li class="breadcrumb-item"><a href="#">storm發行</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>